{% extends 'base1.html' %}
{% block main %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
                        {% if error_msg %}
                         <p>{{ error_msg }}</p>
                        {% endif %}
                        {% for blog in blog_list %}
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
								</h1>
								<div class="entry-meta">
									<span class="post-category"><a href="#">{{ blog.category.name }}</a></span>
                                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ blog.create_time }}">{{ blog.create_time }}</time></a></span>
                                    <span class="post-author"><a href="#">{{ blog.author }}</a></span>
                                    <span class="comments-link"><a href="#">{{ blog.comment_set.count }} 评论</a></span>
                                    <span class="views-count"><a href="#">{{ blog.views }} 阅读</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>{{ blog.excerpt  }}</p>
                                <div class="read-more cl-effect-14">
                                    <a href="{{ blog.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                                </div>
							</div>
						</article>
                        {% empty %}
                        <div class="no-post">暂时还没有发布的文章</div>
                        {% endfor %}
					</main>
				</div>
			</div>
		</div>
{% endblock main %}